/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e; /* Dark background color */
    color: #ffffff; /* Light text color */
    padding-top: 50px; /* Adjust top padding to accommodate navbar */
}


/* Navbar styles */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333333; /* Dark navbar background color */
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Spread items evenly */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff; /* Light text color */
    text-decoration: none;
}

.navbar-login {
    padding: 10px 20px;
    background-color: #3498db; /* Blue login button color */
    color: #ffffff; /* Light text color */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.navbar-login:hover {
    background-color: #2980b9; /* Darker blue on hover */
}

.navbar-brand img {
    max-height: 30px; /* Limit the height of the image */
}

/* Content styles */
.content {
    padding: 20px;
}

/* New post button */
.new-post-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3498db; /* Blue button color */
    color: #ffffff; /* Light text color */
    border: none;
    border-radius: 50%; /* Circular button */
    width: 60px;
    height: 60px;
    font-size: 24px;
    text-align: center;
    line-height: 60px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.new-post-button:hover {
    background-color: #2980b9; /* Darker blue on hover */
}
