/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Dark background color */
    color: #1e1e1e; /* Light text color */
    padding-top: 50px; /* Adjust top padding to accommodate navbar */
}


/* Navbar styles */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333333; /* Dark navbar background color */
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Spread items evenly */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff; /* Light text color */
    text-decoration: none;
}

.navbar-login {
    padding: 10px 20px;
    background-color: #3498db; /* Blue login button color */
    color: #ffffff; /* Light text color */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.navbar-login:hover {
    background-color: #2980b9; /* Darker blue on hover */
}

.navbar-brand img {
    max-height: 30px; /* Limit the height of the image */
}

/* Content styles */
.content {
    padding: 20px;
}

/* New post button */
.new-post-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3498db; /* Blue button color */
    color: #ffffff; /* Light text color */
    border: none;
    border-radius: 50%; /* Circular button */
    width: 60px;
    height: 60px;
    font-size: 24px;
    text-align: center;
    line-height: 60px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.new-post-button:hover {
    background-color: #2980b9; /* Darker blue on hover */
}


/* Style for like button */
.like-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    transition: transform 0.2s, box-shadow 0.2s, opacity 0.2s;
}

.like-button img {
    width: 20px; /* Set the width of the image */
    height: auto; /* Maintain aspect ratio */
}

/* Style for like button on hover */
.like-button:hover img {
    transform: scale(1.3) rotate(5deg); /* Scale and rotate the button slightly when clicked */
}

/* Style for like button when clicked */
.like-button.clicked img {
    filter: brightness(1.5); /* Increase brightness when clicked */
    filter: hue-rotate(180deg); /* Change the hue to blue */
    transform: scale(1.1) rotate(5deg); /* Scale and rotate the button slightly when clicked */
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5); /* Add a blue shadow when clicked */
}