/* Login page styles */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: (100vh -calc 50px); /* Adjust for navbar height */
}

.left-side,
.right-side {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-side input,
.right-side input,
.left-side button,
.right-side button {
    margin-bottom: 10px;
}

.left-side {
    color: #ffffff; /* Light text color */
}

.right-side {
    color: #ffffff; /* Light text color */
}

.login-container h2 {
    margin-bottom: 20px;
}
