<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">
    {% block css %}{% endblock %}
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <a href="/" class="navbar-brand">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Z Logo">
        </a>
        <!--Checks if user is log in to show log out-->
        {% if not logged_in %}
            <a href="/login" class="navbar-login">Login</a>
        {% else %}
            <form action="/logout" method="post">
                <button class="navbar-login" type="submit">Logout</button>
            </form>
        {% endif %}
    </nav>

    <!-- Content -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
