<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% if not dark_mode %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">
    {% block css %}
        {% if dark_mode %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/darkmode.css') }}">
        {% endif %}
    {% endblock %}
    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" 
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" 
        crossorigin="anonymous">    
    </script>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="welcomeName">
            <!--If user is logged in show username-->
            {% if username %}
            <p>Welcome,<br> {{ username }}</p>
            {% else %}
            <p>Welcome,<br> Guest</p>
        {% endif %} 
        </div>
        <a href="/" class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Z Logo">
        </a>
        <!--Checks if user is log in to show log out-->
        {% if not logged_in %}
            <a href="/login" class="navbar-login">Login</a>
        {% else %}
            <form action="/logout" method="post">
                <button class="navbar-login" type="submit">Logout</button>
            </form>
        {% endif %}
    </nav>

    <!-- Content -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
