<!-- post.html -->
{% extends "base.html" %}

{% block title %}Global Chat{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
{% endblock %}

{% block content %}
<div id="chatroom">
    <div id="box">
        <h2> Global Chat </h2>
        <div id="messages"> </div>

        <div id="space">
            <input id="inputMSG" type="text" placeholder="Message" required>
            <button id="butt" type="submit" onClick="sendMsg()">Submit</button>
        </div>
        
    </div>
</div>
<script type="text/javascript">
    var sockets = io();
    const chats = document.getElementById("messages");

    const sendMsg = () => {
        var input = document.getElementById("inputMSG").value;
        //console.log(input);
        if (input != "") {
            sockets.emit("sends", {message: input});
        }
        document.getElementById("inputMSG").value = "";
    }

    const displayMsg = (data) => {
        var message = "<span> " + data["username"] + ": " + data["message"]["message"] + " </span></br>";
        messages.innerHTML += message;
    }

    sockets.on("chat", (data) => {
        console.log(data);
        displayMsg(data);
    });
</script>
{% endblock %}