<!-- post.html -->
{% extends "base.html" %}

{% block title %}Global Chat{% endblock %}


{% block css %}
{% if dark_mode %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/darkmode.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/globaldark.css') }}">
        {% endif %}
{% if not dark_mode %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
{% endif %}
{% endblock %}

{% block content %}
<div id="chatroom">
    <div id="box">
        <h2> Global Chat </h2>
        <div id="messages"> 
            {% for global_chat in data %}
            <span class="msg">
                {{global_chat["username"]}}: {{global_chat["message"]["message"]}} 
            </span>
            </br>
            {% endfor %}

        </div>

        <div id="space">
            <input id="inputMSG" type="text" placeholder="Message" required>
            <input id="scheduleMSG" type="text" placeholder="Seconds" required>
            <button id="butt" type="submit" onClick="sendMsg()">Submit</button>
        </div>
        <div id="TIMER">
            Time till send: 0s
        </div>
    </div>
</div>
<script type="text/javascript">
    var sockets = io();
    sockets.connect("wss://nahidwin.org/chat");
	
    const chats = document.getElementById("messages");
    const time = document.getElementById("TIMER")

    const sendMsg = () => {
        var input = document.getElementById("inputMSG").value;
        var time = document.getElementById("scheduleMSG").value;
        // input = input.replace('&', '&amp;').replace('<', '&lt;').replace('>', '&gt;')
        if (input != "") {
		    //console.log("this works");
            if (isNaN(time) || time == "") {
                time = 0;
            }
            sockets.emit("sends", {message: input, delay: time});
        }
        document.getElementById("inputMSG").value = "";
        document.getElementById("scheduleMSG").value = "";
    }

    const displayMsg = (data) => {
        var message = "<span class=\"msgs\"> " + data["username"] + ": " + data["message"]["message"] + " </span></br>";
        messages.innerHTML += message;
    }

    sockets.on("chat", (data) => {
        console.log(data);
        displayMsg(data);
    });

    sockets.on("time_left", (data) => {
        time_remaining = data["seconds"];
        if (time_remaining == 0) {
            time.textContent = "Sent!"
        } else {
            time.textContent = "Time till send: " + data["seconds"] + "s";
        }
    });
</script>
{% endblock %}
