{% extends "base.html" %}

{% block title %}Home - Zhi{% endblock %}

{% block content %}

    <div class="categories">
        <label for="categories">Categories:</label>
        <select id="categories">
            <option value="all">All</option>
            <option value="cars">Cars</option>
            <option value="phones">Phones</option>
        </select>
    </div>
    

    <!-- New posts -->
    <div class="all">
        <div class="grid-container">
            {% for each_data in data %}
            <div class = "total-new-post">
                <div class="new-post">
                    <img src="static/images/{{each_data['file']}}" alt="Uploaded Image" width="200" height="200">
                     
                    <div class="post-details">
                        <h3><b>{{ each_data["title"] }}</b></h3>
                        <br/>
                        <h4>Posted by: {{ each_data["username"]}}</h4>
                        <form action="/like/{{ each_data["post_id"] }}" method="POST">
                            <!-- Image for Like Button -->
                            <button type="submit" class="like-button">
                                <img src="{{ url_for('static', filename='images/like-button.png') }}" alt="Like">
                            </button>
                            <!-- Display Like Count -->
                            <span>{{ each_data["like_count"] }}</span>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    
    <!-- New post button -->
    <a href="/post" class="new-post-button">+</a>
{% endblock %}
