{% extends "base.html" %}

{% block title %}Home - Zhi{% endblock %}

{% block content %}
    <h1>Welcome to Z</h1>
    <p id="js_test"></p>

    <!--If user is logged in show username-->
    {% if username %}
        <p>Hello {{ username }}</p>
    {% else %}
        <p>Hello Guest</p>
    {% endif %}

    <!-- New posts -->
    {% for each_data in data %}
        <div class = "total-new-post">
            <div class="new-post">
                <h1><b>{{ each_data["title"] }}</b></h1>
                <p>{{ each_data["question"] }}</p>

            </div>
        </div>
    {% endfor %}

    <!-- New post button -->
    <a href="/post" class="new-post-button">+</a>
{% endblock %}
