<!-- post.html -->
{% extends "base.html" %}

{% block title %}Post Question{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/post_template.css') }}">
{% endblock %}

{% block content %}
<div class="postContainer">
    <div class="postBox">
        <h2>Fill in your post!</h2>
        <form action="/send-post" method="post" enctype="multipart/form-data">
            <div class="textbox">
                <input type="text" placeholder="Title" name="title" required>
            </div>
            <div class="textbox">
                <textarea type="text" placeholder="Enter Your Text" name="question" id="quest" required></textarea>
            </div>
            <div class="fileupload">
                <input type="file" id="myFile" placeholder="upload a Image" name="file" id="quest" required></input>
            </div>
            
            <button class="butt" type="submit" value="post">Submit</button>
        </form>
    </div>
</div>
{% endblock %}