<!-- register.html -->
{% extends "base.html" %}

{% block title %}Register - Zhi{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock %}

{% block content %}
    <div class="register-container">
        <div class="left-side">
            <!-- Left side content for users trying to register an account -->
            <h2>Create an Account</h2>
            <form action="/auth-register" method="post">
                <input type="text" name="username" placeholder="Username"><br>
                <input type="password" name="password1" placeholder="Password"><br>
                <input type="password" name="password2" placeholder="Reenter Your Password"><br>
                <button type="submit">Register</button>
            </form>
        </div>
        <div class="right-side">
            <!-- Right side content for users trying to login -->
            <h2>Login to Your Account</h2>
            <form action="/auth-login" method="post">
                <input type="text" name="username" placeholder="Username"><br>
                <input type="password" name="password" placeholder="Password"><br>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
{% endblock %}