<!-- register.html -->
{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block css %}
{% if dark_mode %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/darkmode.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/authdark.css') }}">
        {% endif %}
{% if not dark_mode %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endif %}

{% endblock %}

{% block content %}
    <div class = "auth-container">
        <div class = "auth-box">
            <h2>Register</h2>
            <form action="/auth-register" method="post">
                <div class="textbox">
                    <input type="text" placeholder="Username" name="username" required>
                </div>
                <div class="textbox">
                    <input type="password" placeholder="Password" name="password1" required>
                </div>
                <div class="textbox">
                    <input type="password" placeholder="Reenter your password" name="password2" required>
                </div>
                <button class="btn" type="submit">Register</button>
            </form>
            <p class="text">Have an account? <a href="/login">Login</a></p>
        </div>
    </div>
{% endblock %}
